Body {
	background: linear-gradient(to bottom right, #9E81BA, #8B6DAB, #76589C, #664A8C, #573B7D, #503674, #49316A);
	}
	
Body.Universes {
	background: linear-gradient(to bottom right, #888DB4, #757AA3, #606591, #515782, #424873, #3B426B, #353C63);
	}
		
Body.FanUniverses {
	background: linear-gradient(to bottom right, #49316A, #B06185, #9C4C74, #8C3E64, #7D2F55, #77294E, #702446);
	}
		
Body.Comics {
	background: linear-gradient(to bottom right, #9E7DD0, #8B69BF, #7654AD, #67469E, #58378F, #523288, #4B2C7F);
	}
		
Body.Asks {
	background: linear-gradient(to bottom right, #E8A6BB, #D592AC, #C07D9D, #B06F8D, #A1607E, #9A5B75, #93566B);
	}
		
Body.Changes {
	background: linear-gradient(to bottom right, #8E83D7, #7B70C6, #675BB4, #574DA5, #483E96, #42388E, #3B3386);
	}
		
Body.Author {
	background: linear-gradient(to bottom right, #E8C2AA, #D5AE9B, #C0998C, #B08B7C, #A17C6D, #9A7764, #93725A);
	}
	
	
h1 {
color:#F9EDFF; font-size:6vw; text-align: center; word-spacing:10px; 
text-shadow: 1px 1px 0.5px #BFACCF, 2px 2px 0.5px #8472A3, 3px 3px 2px #1B0F2B;
font-family: Georgia;
}

img {
  filter: drop-shadow(2px 2px 2px #1B0F2B);
}

a {
color:#F9EDFF; font-size:4vw; text-align: left; word-spacing:10px; 
text-shadow: 1px 1px 0.5px #BFACCF, 2px 2px 0.5px #8472A3, 3px 3px 2px #1B0F2B;
font-family: Georgia;
}

h2 {
color:#F9EDFF; font-size:2vw; text-align: top-left; word-spacing:10px; 
text-shadow: 1px 1px 0.5px #BFACCF, 2px 2px 0.5px #8472A3, 3px 3px 2px #1B0F2B;
font-family: Georgia;
}

h3 {
color:#F9EDFF; font-size:1.5vw; text-align: left; word-spacing:10px; 
text-shadow: 1px 1px 0.5px #BFACCF, 2px 2px 0.5px #8472A3, 3px 3px 2px #1B0F2B;
font-family: Georgia;
}

a.Selected {
color:#ff8A46; font-size:1.5vw; text-align: left; word-spacing:10px; 
text-shadow: 1px 1px 0.5px #EB6F3E, 2px 2px 0.5px #AF3E33, 3px 3px 2px #1B0F2B;
font-family: Georgia;
}

a.Selected2 {
color:#AFAAC1; font-size:1.5vw; text-align: left; word-spacing:10px; 
text-shadow: 1px 1px 0.5px #8279A3, 2px 2px 0.5px #656192, 3px 3px 2px #1B0F2B;
font-family: Georgia;
}

#wrapper ul {
    padding: 0;
    margin: auto;
    width: 80%;
    list-style-type: none;
}

#wrapper ul li {
    background-color: rgba(27, 15, 43, 0.4);
    padding: 30px;
    margin-bottom: 20px;
    display: table;
    width: 100%;
}

#wrapper ul li img {
    float: left;
}

#wrapper ul li .details {float: right;width: 75%;}

p.Links {
color:rgba(27, 15, 43, 0.7); 
font-size:2vw; 
text-align: center; 
word-spacing:10px;
position: relative;
bottom:0.2vw;
}

img.Links {
	position: relative;
	top: 0.3vw;
}

#wrapper ul li .Info {
    background-color: rgba(0, 0, 0, 0);
    padding: 1px;
    margin-bottom: 20px;
    display: table;
    width: 50%;
}

img.Gallery {
	padding: 1vw;
}

img.Comics{
	width: 80vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vw;
}

img.ComicsPrev{
	height: 40vw;
	display: block;
	margin-left: -1vw;
	margin-right: 1vw;
}

.ComicsbuttonA {
position:fixed;
top:40%;
left:50px;
cursor:pointer;
border-radius: 5px;
}

.ComicsbuttonB {
position:fixed;
top:40%;
right:50px;
cursor:pointer;
border-radius: 5px;
}

h3.ComicsINFO{
color:#F9EDFF; font-size:1.5vw; text-align: center; word-spacing:10px; 
text-shadow: 1px 1px 0.5px #BFACCF, 2px 2px 0.5px #8472A3, 3px 3px 2px #1B0F2B;
font-family: Georgia;
}


#wrapper ul li.AuthorInfo {
	position: absolute;
	top: 8vw;
	left: 2vw;
    background-color: rgba(27, 15, 43,);
    padding: 10px;
    margin-bottom: 20px;
    display: table;
    width: 30vw;
}

#wrapper ul li .AuthorInfo2 {
    background-color: rgba(0, 0, 0, 0);
    padding: 1px;
    margin-bottom: 20px;
    display: table;
}


ul {
    list-style: none;
}

.menu > li {
    float: left;
}
.menu button {
    border: 0;
    background: transparent;
    cursor: pointer;
	
	color:#F9EDFF; font-size:2vw; text-align: top-left; 
	text-shadow: 1px 1px 0.5px #BFACCF, 2px 2px 0.5px #8472A3, 3px 3px 2px #1B0F2B;
	font-family: Georgia;
	position: fixed;
	top: 0.2vw;
	left:35vw;
	z-index: 10;
}

.menu button:hover,
.menu button:focus {
    outline: 0;
    text-decoration: underline;
}

.submenu {
    display: none;
    position: fixed;
    padding: 10px;
	z-index: 10;
	
}
.menu button:focus + .submenu,
.submenu:hover {
    display: block;
}

#rectangle.header{
	width: 101%;
    height: 20vw;
	background: linear-gradient(to bottom right, rgba(27, 15, 43, 0.5), rgba(27, 15, 43, 0.5), rgba(27, 15, 43, 0.5), rgba(27, 15, 43, 0.5), rgba(27, 15, 43, 0.5), rgba(27, 15, 43, 0.5), rgba(27, 15, 43, 0.1)) ;
	position: fixed;
	top: -17vw;
	left: -1vw;
	z-index: 9;
}

h1.MainLogo{
	color:#F9EDFF; font-size:2vw; text-align: top-left; 
	text-shadow: 1px 1px 0.5px #BFACCF, 2px 2px 0.5px #8472A3, 3px 3px 2px #1B0F2B;
	font-family: Georgia;
	position: fixed;
	top: -1.2vw;
	left:0.5vw;
	z-index: 10;
}

img.MenuButton{
	width: 6%;
	content: url("Images/MenuPick1.png");
	
	position: fixed;
	top: 0.5vw;
	left:33vw;
	z-index: 10;	
}

img.MenuButton:active{
	width: 6.7%;
	content: url("Images/MenuPick2.png");
	
	position: fixed;
	top: 0.15vw;
	left:32.65vw;
	z-index: 10;
}

img.Post{
	
}

iframe{
	filter: drop-shadow(2px 2px 2px #1B0F2B);
	padding: 3%;
}