Body {
	background: linear-gradient(to bottom right, #9E81BA, #896AAE, #7254A0, #5A3C90, #422E81, #312473, #241D56);
	}
	
Body.Universes {
	background: linear-gradient(to bottom right, #7EA5BA, #6388AA, #486B99, #314F88, #273C7F, #242E75, #202564);
	}
		
Body.FanUniverses {
	background: linear-gradient(to bottom right, #BA3944, #A51B36, #8D0B2F, #730B2A, #5D0B2B, #4A0B2A, #370B26);
	}
		
Body.Comics {
	background: linear-gradient(to bottom right, #9973E1, #8661D7, #6949C7, #5439B8, #3F2AA3, #362395, #2E208B);
	}
		
Body.Asks {
	background: linear-gradient(to bottom right, #FFBF82, #FAA572, #EC9164, #E07250, #D45D45, #C84939, #BC3630);
	}
		
Body.Changes {
	background: linear-gradient(to bottom right, #363DAB, #2F309B, #28258A, #271B81, #1F0C75, #180C66, #180C55);
	}
		
Body.Author {
	background: linear-gradient(to bottom right, #FFF064, #F6D558, #EFBF4C, #E8A941, #DD8C3A, #D67330, #CD5421);
	}
	
body.Credits{
	background: linear-gradient(to bottom, #9E81BA, #896AAE, #7254A0, #5A3C90, #422E81, #312473, #241D56,
										   #0B0843, #07042B, #000022, #04002E, #0A0037, #20004C, #360058,
										   #5A0567, #790777, #8B0778, #A60B6E, #C0136E, #D21B58, #DE314C,
										   #ED5244, #FF8B67, #FFC285, #FFE1A6, #FFF0BA, #FFD3BA, #FFA19D,
										   #FF88AA, #FF79C5, #F65AD8, #EA4CFF, #B446FF, #7D2BFF, #412EED,
										   #3850F3, #4278F6, #5593FF, #76BBFF, #ABE5FF, #9BA2E4, #9E81BA
										   );
	overflow: hidden;
}

	
h1 {
color:#F9EDFF; font-size:6vw; text-align: center; word-spacing:10px; 
text-shadow: 1px 1px 0.5px #BFACCF, 2px 2px 0.5px #8472A3, 3px 3px 2px #1B0F2B;
font-family: Georgia;
}

img {
  filter: drop-shadow(2px 2px 2px #1B0F2B);
}

a {
color:#F9EDFF; font-size:4vw; text-align: left; word-spacing:10px; 
text-shadow: 1px 1px 0.5px #BFACCF, 2px 2px 0.5px #8472A3, 3px 3px 2px #1B0F2B;
font-family: Georgia;
}

h2 {
color:#F9EDFF; font-size:2vw; text-align: top-left; word-spacing:10px; 
text-shadow: 1px 1px 0.5px #BFACCF, 2px 2px 0.5px #8472A3, 3px 3px 2px #1B0F2B;
font-family: Georgia;
}

h3 {
color:#F9EDFF; font-size:1.5vw; text-align: left; word-spacing:10px; 
text-shadow: 1px 1px 0.5px #BFACCF, 2px 2px 0.5px #8472A3, 3px 3px 2px #1B0F2B;
font-family: Georgia;
}

h4 {
color:#F9EDFF; font-size:4vw; text-align: center; word-spacing:10px; 
text-shadow: 1px 1px 0.5px #BFACCF, 2px 2px 0.5px #8472A3, 3px 3px 2px #1B0F2B;
font-family: Georgia;
}

h5 {
color:#F9EDFF; font-size:2vw; text-align: center; word-spacing:10px; 
text-shadow: 1px 1px 0.5px #BFACCF, 2px 2px 0.5px #8472A3, 3px 3px 2px #1B0F2B;
font-family: Georgia;
}

a.Selected {
color:#ff8A46; font-size:1.5vw; text-align: left; word-spacing:10px; 
text-shadow: 1px 1px 0.5px #EB6F3E, 2px 2px 0.5px #AF3E33, 3px 3px 2px #1B0F2B;
font-family: Georgia;
}

a.Selected2 {
color:#AFAAC1; font-size:1.5vw; text-align: left; word-spacing:10px; 
text-shadow: 1px 1px 0.5px #8279A3, 2px 2px 0.5px #656192, 3px 3px 2px #1B0F2B;
font-family: Georgia;
}

#wrapper ul {
    padding: 0;
    margin: auto;
    width: 80%;
    list-style-type: none;
}

#wrapper ul li {
    background-color: rgba(27, 15, 43, 0.4);
    padding: 30px;
    margin-bottom: 20px;
    display: table;
    width: 100%;
}

#wrapper ul li img {
    float: left;
}

#wrapper ul li .details {float: right;width: 75%;}

p.Links {
color:rgba(27, 15, 43, 0.7); 
font-size:2vw; 
text-align: center; 
word-spacing:10px;
position: relative;
bottom:0.2vw;
}

img.Links {
	position: relative;
	top: 0.3vw;
}

#wrapper ul li .Info {
    background-color: rgba(0, 0, 0, 0);
    padding: 1px;
    margin-bottom: 20px;
    display: table;
    width: 50%;
}

img.Gallery {
	padding: 1vw;
}

img.Comics{
	width: 80vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vw;
}

img.ComicsPrev{
	height: 40vw;
	display: block;
	margin-left: -1vw;
	margin-right: 1vw;
}

.ComicsbuttonA {
position:fixed;
top:40%;
left:50px;
cursor:pointer;
border-radius: 5px;
}

.ComicsbuttonB {
position:fixed;
top:40%;
right:50px;
cursor:pointer;
border-radius: 5px;
}

h3.ComicsINFO{
color:#F9EDFF; font-size:1.5vw; text-align: center; word-spacing:10px; 
text-shadow: 1px 1px 0.5px #BFACCF, 2px 2px 0.5px #8472A3, 3px 3px 2px #1B0F2B;
font-family: Georgia;
}


#wrapper ul li.AuthorInfo {
	position: absolute;
	top: 8vw;
	left: 2vw;
    background-color: rgba(27, 15, 43,);
    padding: 10px;
    margin-bottom: 20px;
    display: table;
    width: 30vw;
}

#wrapper ul li .AuthorInfo2 {
    background-color: rgba(0, 0, 0, 0);
    padding: 1px;
    margin-bottom: 20px;
    display: table;
}


ul {
    list-style: none;
}

.menu > li {
    float: left;
}
.menu button {
    border: 0;
    background: transparent;
    cursor: pointer;
	
	color:#F9EDFF; font-size:2vw; text-align: top-left; 
	text-shadow: 1px 1px 0.5px #BFACCF, 2px 2px 0.5px #8472A3, 3px 3px 2px #1B0F2B;
	font-family: Georgia;
	position: fixed;
	top: 0.2vw;
	left:35vw;
	z-index: 10;
}

.menu button:hover,
.menu button:focus {
    outline: 0;
    text-decoration: underline;
}

.submenu {
    display: none;
    position: fixed;
    padding: 10px;
	z-index: 10;
	
}
.menu button:focus + .submenu,
.submenu:hover {
    display: block;
}

#rectangle.header{
	width: 101%;
    height: 20vw;
	background: linear-gradient(to bottom right, rgba(27, 15, 43, 0.5), rgba(27, 15, 43, 0.5), rgba(27, 15, 43, 0.5), rgba(27, 15, 43, 0.5), rgba(27, 15, 43, 0.5), rgba(27, 15, 43, 0.5), rgba(27, 15, 43, 0.1)) ;
	position: fixed;
	top: -17vw;
	left: -1vw;
	z-index: 9;
}

h1.MainLogo{
	color:#F9EDFF; font-size:2vw; text-align: top-left; 
	text-shadow: 1px 1px 0.5px #BFACCF, 2px 2px 0.5px #8472A3, 3px 3px 2px #1B0F2B;
	font-family: Georgia;
	position: fixed;
	top: -1.2vw;
	left:0.5vw;
	z-index: 10;
}

img.MenuButton{
	width: 6%;
	content: url("Images/MenuPick1.png");
	
	position: fixed;
	top: 0.5vw;
	left:33vw;
	z-index: 10;	
}

img.MenuButton:active{
	width: 6%;
	content: url("Images/MenuPick2.png");
	
	position: fixed;
	top: 0.5vw;
	left:33vw;
	z-index: 10;	
}

img.CreditsButton{
	width: 6%;
	content: url("Images/CreditsPick1.png");
	
	position: fixed;
	top: 0.5vw;
	left:43vw;
	z-index: 10;	
}

img.CreditsButton:active{
	width: 6%;
	content: url("Images/CreditsPick2.png");
	
	position: fixed;
	top: 0.5vw;
	left:43vw;
	z-index: 10;	
}

img.Post{
	
}

iframe{
	filter: drop-shadow(2px 2px 2px #1B0F2B);
	padding: 3%;
}

img.Credits {
	position: relative;
	top: 1.5vw;
}