@keyframes Beat {
	20% {
		transform: scale(1.1);
	}

	120% {
		transform: scale(1);
	}
}

.Beat{
	animation: Beat 0.6s ease 0s infinite normal backwards;
}


@keyframes Beat2 {
	0% {
		transform: scale(1.01);
	}

	100% {
		transform: scale(1);
	}
}

.Beat2{
	animation: Beat2 1.2s ease 0s infinite normal backwards;
}

@keyframes Beat3 {
	0% {
		transform: scale(1.02);
	}

	100% {
		transform: scale(1);
	}
}

.Beat3{
	animation: Beat3 0.6s ease 0s infinite normal backwards;
}

@keyframes Beat4 {
	0% {
		transform: scale(1.03);
	}

	100% {
		transform: scale(1);
	}
}

.Beat4{
	animation: Beat4 0.6s ease 0s infinite normal backwards;
}


@keyframes Beat5 {
	0% {
		transform: scale(1.03);
	}
	
	5% {
		transform: scale(1.07);
	}

	100% {
		transform: scale(1);
	}
}

.Beat5{
	animation: Beat5 1.2s ease 0s infinite normal backwards;
}


@keyframes Beat6 {
	0% {
		transform: scale(1.03) rotate(3deg);
	}

	49% {
		transform: scale(1) rotate(0deg);
	}
	
	50% {
		transform: scale(1.03) rotate(-3deg);
	}

	100% {
		transform: scale(1) rotate(0deg);
	}
}

.Beat6{
	animation: Beat6 1.2s ease 0s infinite normal backwards;
}


@keyframes Beat7 {
	0% {
		transform: scale(1.01) rotate(0.8deg);
	}

	49% {
		transform: scale(1) rotate(0deg);
	}
	
	50% {
		transform: scale(1.01) rotate(-0.8deg);
	}

	100% {
		transform: scale(1) rotate(0deg);
	}
}

.Beat7{
	animation: Beat7 1.2s ease 0s infinite normal backwards;
}


@keyframes Beat8 {
	0% {
		transform: scale(1.03) rotate(-3deg);
	}

	49% {
		transform: scale(1) rotate(0deg);
	}
	
	50% {
		transform: scale(1.03) rotate(3deg);
	}

	100% {
		transform: scale(1) rotate(0deg);
	}
}

.Beat8{
	animation: Beat8 1.2s ease 0s infinite normal backwards;
}