body {
	background: #181234
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	image-rendering: pixelated;
	width: 20vw;
	margin-top: 10vw;
}

audio{
	display: block;
	margin-left: auto;
	margin-right: auto;
	image-rendering: pixelated;
	width: 80vw
}

h2 {
	color:#F9EDFF; font-size:2vw; text-align: center; word-spacing:10px; 
	margin-left: auto;
	margin-right: auto;
	width: 80vw;
	font-family: Sylfaen;
	image-rendering: pixelated;
}

