body {
	background: linear-gradient(to bottom, #1F005B, #020005);
}

.BgDots {
	background-image: url("2tailed/DotsBGCrap.png");
	position: fixed;
	top: -5;
	left: -5;
	animation: BgAnim 20s linear 0s infinite normal forwards;
	}

@keyframes BgAnim {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 256px 256px;
	}
}



.Disc {
	position: fixed; 
	top: -260px;
	left: -280px; 
	z-index: 100;
	
	width: 633px;
	height: 633px;
	background: url('2tailed/DiskSheet.png') left center;
	filter: drop-shadow(2px 2px 5px #020005);
	
}

.DiscAnim {
	animation: DiscAnim 2.5s steps(40) infinite;
}

@keyframes DiscAnim {
	100% { background-position: -25320px; }
}



.Characters {
	width: 891px;
	height: 698px;
	background: url('2tailed/ChrsSheet.png') left center;
	filter: drop-shadow(2px 2px 5px #020005);
}

.MusicInfoAnim{
	animation: InfoChange 0.5s ease 0s 1 normal forwards;
}

@keyframes InfoChange {
	0% {
		transform: rotate(0);
		transform-origin: left top;
	}

	100% {
		transform: rotate(360deg);
		transform-origin: left top;
	}
}

.MusicMenu{
	animation: MusMenu 3s ease-in-out 0s infinite normal forwards;
}

@keyframes MusMenu {
	0%,
	100% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(1vw);
	}
}

.MusicInfo{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;
}

.MusMenu{
	position: fixed;
	bottom: 2vw;
	left: 2vw;
	z-index: 90;
	width: 30vw;
}

.MusMenuButton{
	position: fixed;
	bottom: 7.4vw;
	left: 7vw;
	z-index: 100;
	width: 8vw;
}

.MusMenuBarrow{
	position: fixed;
	bottom: 8vw;
	left: 16vw;
	z-index: 100;
	width: 4vw;
}


.MusMenuFarrow{
	position: fixed;
	bottom: 8.7vw;
	left: 23vw;
	z-index: 100;
	width: 2.5vw;
}

.MusMenuBarrow:hover{
	filter: brightness(1.5);
}

.MusMenuFarrow:hover{
	filter: brightness(1.5);
}

.MusMenuBarrow:active{
	filter: brightness(1.2);
}

.MusMenuFarrow:active{
	filter: brightness(1.2);
}

.MusMenuButton:hover{
	filter: brightness(1.5);
}

.MusMenuButton:active{
filter: brightness(1.2);
}

.CHrsAnim1 {
	animation: CHrsAnim1 2.8235s steps(24) infinite;
}

@keyframes CHrsAnim1 {
	100% { background-position: -21384px; }
}

.CHrsAnim2 {
	animation: CHrsAnim2 2.4s steps(24) infinite;
}

@keyframes CHrsAnim2 {
	100% { background-position: -21384px; }
}

.CHrsAnim3 {
	animation: CHrsAnim3 1.9048s steps(24) infinite;
}

@keyframes CHrsAnim3 {
	100% { background-position: -21384px; }
}

.CHrsAnim4 {
	animation: CHrsAnim4 1.846s steps(24) infinite;
}

@keyframes CHrsAnim4 {
	100% { background-position: -21384px; }
}

.CHrsAnim5 {
	animation: CHrsAnim5 1.3714s steps(24) infinite;
}

@keyframes CHrsAnim5 {
	100% { background-position: -21384px; }
}

.CHrsAnim6 {
	animation: CHrsAnim6 1.7778s steps(24) infinite;
}

@keyframes CHrsAnim6 {
	100% { background-position: -21384px; }
}

.CHrsAnim7 {
	animation: CHrsAnim7 1.37145s steps(24) infinite;
}

@keyframes CHrsAnim7 {
	100% { background-position: -21384px; }
}


.Icons{
	position: fixed; 
	bottom: -5vw; 
	right: -5vw;
	z-index: 101
}


.IconsAnim1{
	animation: IconsAnim1 1.41175s ease 0s infinite normal backwards;
}

@keyframes IconsAnim1 {
	0% {
		transform: scale(1.005);
		opacity: 0.8;
	}
	
	5% {
		transform: scale(1.02);
		opacity: 0.82;
	}

	95% {
		transform: scale(1);
		opacity: 0.9;
	}
	
	100% {
		transform: scale(1.001);
		opacity: 0.85;
	}
}


.IconsAnim2{
	animation: IconsAnim2 1.2s ease 0s infinite normal backwards;
}

@keyframes IconsAnim2 {
	0% {
		transform: scale(1.005);
		opacity: 0.8;
	}
	
	5% {
		transform: scale(1.02);
		opacity: 0.82;
	}

	95% {
		transform: scale(1);
		opacity: 0.9;
	}
	
	100% {
		transform: scale(1.001);
		opacity: 0.85;
	}
}


.IconsAnim3{
	animation: IconsAnim3 0.9524s ease 0s infinite normal backwards;
}

@keyframes IconsAnim3 {
	0% {
		transform: scale(1.005);
		opacity: 0.8;
	}
	
	5% {
		transform: scale(1.02);
		opacity: 0.82;
	}

	95% {
		transform: scale(1);
		opacity: 0.9;
	}
	
	100% {
		transform: scale(1.001);
		opacity: 0.85;
	}
}


.IconsAnim4{
	animation: IconsAnim4 0.923s ease 0s infinite normal backwards;
}

@keyframes IconsAnim4 {
	0% {
		transform: scale(1.005);
		opacity: 0.8;
	}
	
	5% {
		transform: scale(1.02);
		opacity: 0.82;
	}

	95% {
		transform: scale(1);
		opacity: 0.9;
	}
	
	100% {
		transform: scale(1.001);
		opacity: 0.85;
	}
}


.IconsAnim5{
	animation: IconsAnim5 0.6857s ease 0s infinite normal backwards;
}

@keyframes IconsAnim5 {
	0% {
		transform: scale(1.005);
		opacity: 0.8;
	}
	
	5% {
		transform: scale(1.02);
		opacity: 0.82;
	}

	95% {
		transform: scale(1);
		opacity: 0.9;
	}
	
	100% {
		transform: scale(1.001);
		opacity: 0.85;
	}
}


.IconsAnim6{
	animation: IconsAnim6 0.8889s ease 0s infinite normal backwards;
}

@keyframes IconsAnim6 {
	0% {
		transform: scale(1.005);
		opacity: 0.8;
	}
	
	5% {
		transform: scale(1.02);
		opacity: 0.82;
	}

	95% {
		transform: scale(1);
		opacity: 0.9;
	}
	
	100% {
		transform: scale(1.001);
		opacity: 0.85;
	}
}


.IconsAnim7{
	animation: IconsAnim7 0.685725s ease 0s infinite normal backwards;
}

@keyframes IconsAnim7 {
	0% {
		transform: scale(1.005);
		opacity: 0.8;
	}
	
	5% {
		transform: scale(1.02);
		opacity: 0.82;
	}

	95% {
		transform: scale(1);
		opacity: 0.9;
	}
	
	100% {
		transform: scale(1.001);
		opacity: 0.85;
	}
}

.MusMenuText{
	position: fixed;
	bottom: 10.5vw;
	left: 14vw;
	z-index: 100;
	width: 15vw;
	color: #FF75FF;
	filter: drop-shadow(0px 0px 0.2vw #DF51FF);
	font-size: 1.2vw;
	transform: translateY(0) skew(18deg, 4deg);
}


.InfoText{
	position: relative;
	top: -145px;
	left: 300px;
	width: 100vw;
	color: #ffffff;
	font-size: 18px;
	line-height: 30px;
}
