body
{animation: changeBg 260s infinite; width:100vw; height: 200vw; position:fixed; top: -0.02vw; background-repeat: repeat-y}
@keyframes changeBg{
	0%, 100%  {background-image: url("Minecraft/BG/bg1.png"); background-size: cover; background-repeat: repeat-y}
	16% {background-image: url("Minecraft/BG/bg2.png");}
	32% {background-image: url("Minecraft/BG/bg3.png");}
	48% {background-image: url("Minecraft/BG/bg4.png");}
	64% {background-image: url("Minecraft/BG/bg5.png");}
	80% {background-image: url("Minecraft/BG/bg6.png");}
}

body{
	background: #000000;
}


.Clouds1 {
  background: url("./background-image.jpg") repeat-x;
  animation: slide 80s linear infinite;
}
.Clouds2 {
  background: url("./background-image.jpg") repeat-x;
  animation: slide 120s linear infinite;
}
.Clouds3 {
  background: url("./background-image.jpg") repeat-x;
  animation: slide 180s linear infinite;
}
.Clouds4 {
  background: url("./background-image.jpg") repeat-x;
  animation: slide 240s linear infinite;
}
.Clouds5 {
  background: url("./background-image.jpg") repeat-x;
  animation: slide 300s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-5120px); 
  }
}

.Shader
{animation: Shader 260s infinite;}
@keyframes Shader{
	0%, 100%  {background: #9E9FFF00;}
	16% {background: #9394ED26;}
	32% {background: #3A3A5E7F;}
	48% {background: #05070DCE;}
	64% {background: #3B3A5E7F;}
	80% {background: #8789E826;}
}

img.Blocks{
	width: 50px;
	image-rendering: pixelated;
}

#rectangle{
	position: fixed;
	bottom: -50px;
	left: 0px;
    width:1400px;
    height:100px;
}

.PortalShade
{animation: PortalAnim 5s infinite;}
@keyframes PortalAnim{
	0%, 100%  {background-image: url("Minecraft/Portal1.png"); background-repeat: repeat-y;}
	40% {background-image: url("Minecraft/Portal2.png");}
}

#Portal{
	position: fixed;
	bottom: -50px;
	left: 0px;
    width:200px;
    height:250px;
}

#Portal2{
	position: fixed;
	bottom: -50px;
	left: 0px;
    width:200px;
    height:250px;
}