
.controller {
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  min-width: 100px;
  padding: 10px 15px 8px 15px;
  position: absolute;
  font-size: 22px;
  border-color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  margin: -22px 0 0 -68px;
  cursor: pointer;
  transition: .25s ease-in-out;
  z-index:500;
}

/*Ripple*/
.ripple {
	pointer-events: none;
	width: 10px;
	height: 10px;
	opacity: 0;
	transform: scale(0);
	background: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	position: fixed;
}

/*Animate Function*/
.animate {
  animation: ripple-mo 1s cubic-bezier(0, 0, 0.2, 1);
}
@keyframes ripple-mo {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(10);
    opacity: 0;
  }
}

.Bouncy{
animation: Bounce 0.7s ease 0s infinite normal forwards;
}

@keyframes Bounce {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

.BGclr1{
	background: linear-gradient(to bottom right, #FCFFA6, #FFE85B, #FFB02B, #FF791C, #F3290D, #E40012, #7F0025);
}

.BGclr2{
	background: linear-gradient(to bottom right, #FFF6CC, #FFDAA6, #FFB379, #F4764C, #E1342D, #CF022B, #850033);
}

.BGclr3{
	background: linear-gradient(to bottom right, #FF8946, #FF5228, #FF2E25, #D80000, #610000, #25000A, #000000);
}

.BGclr4{
	background: linear-gradient(to bottom right, #F058EF, #C238E1, #8129BD, #461894, #120670, #00004C, #000022);
}

.BGclr5{
	background: linear-gradient(to bottom right, #FFFFFF, #FFFFC9, #FFFF8B, #FFFF46, #F3D126, #E7A208, #E77708);
}

.BGclr6{
	background: linear-gradient(to bottom right, #E6DEFF, #D1AFF0, #C181DE, #B450CC, #7130A0, #321076, #130855);
}

.BGclr7{
	background: linear-gradient(to bottom right, #000000, #1C000F, #400F22, #701F3E, #8A101F, #A30000, #670000);
}

.BGclr8{
	background: linear-gradient(to bottom, #FFFFFF, #0000FF, #0000FF, #0000FF, #0000FF, #0000FF, #000000);
}

.BGclr9{
	background: linear-gradient(to bottom right, #FFE8E4, #FFB1A6, #FF7061, #F63F56, #8807DB, #3C00CF, #0000AB);
}

.BGclr10{
	background: linear-gradient(to bottom right, #FDD2FF, #F99DFC, #CD67E7, #8A4DC3, #3E19AB, #1A0A7C, #070649);
}

.BGclr11{
	background: linear-gradient(to bottom right, #0E0922, #291E40, #463655, #6E5E76, #837988, #A0A0A0, #C3C3C3);
}

.BGclr12{
	background: linear-gradient(to bottom right, #FFF60A, #FFBA0A, #FF5F0A, #FF0F07, #AB2537, #672F40, #4F4347);
}

.BGclr13{
	background: linear-gradient(to bottom right, #F6C4B8, #F97478, #ED3669, #C9368F, #C009A4, #ED00C7, #E728FF);
}

.BGclr14{
	background: linear-gradient(to right, #A422B4, #440E5E, #00001C, #000010, #000000, #000000, #000000);
}

.BGclr15{
	background: linear-gradient(to bottom right, #DD8C3A, #000000, #000000, #000000, #DD8C3A, #FF2E25, #FF2E25);
}

.BGclr16{
	background: linear-gradient(to bottom, #000000, #000000, #000000, #000000, #000000, #FF2E25, #FF2E25);
}

.BGclr17{
	background: linear-gradient(to bottom right, #FFDCD8, #FFBDB4, #FF828A, #FF4670, #C9013F, #AB001D, #7F001A);
}

.Crystals{
	display: inline-block;
	margin: 0.5vw; 
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	position: relative;
}

.CrystalA{
	display: inline-block; 
	margin-right: -0.14vw;
	position: relative;
}

.CrystalB{
	display: inline-block;
	margin-left: -0.13vw;
	margin-top: 0.02vw;
	position: relative;
}